<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Views/assets/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>POKÉSHOP LOGIN</title>
</head>
<body>  
        <div class="container" id="container">
            <div class="login-container">
                <div class="form-login">
                    <form >
                        <img src="./assets/img/pokeshop_logo.png" alt="pokeshop_logo" width="300" height="300">
                        <h1>Welcome Trainer!</h1>
                        <p>please insert your trainer card </p>
                        <input placeholder="Username" type="text" name="username" id="username">
                        <input placeholder="Password" type="password" name="password" id="password">
                        <a href="sing-up.html">Register here if you don't have an account</a>
                        <button class="sing-ing">login</button>           

                    </form>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-discord"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github-alt"></i></a>
                    </div>
                    <samp> you can contact us trough these</samp>
            </div>
        </div>
    </div>
    <div class="background-container">
        <img src="./assets/img/poke background.png" alt="background">
    </div>
</body>
</html>